<div class="container contact-container">
    <div class="contact-header">
        <h3>Contact Us</h3>
        <hr>
    </div>
    <div class="row">
        <!-- Address Section -->
        <div class="col-md-6 contact-info">
            <h4>Address</h4>
            <address>
                <p><i class="fas fa-map-marker-alt"></i> Route Aeroport Km 4<br>3018, Sfax</p>
                <p><i class="fas fa-phone"></i> +216 22 222 222</p>
                <p><i class="fas fa-phone-alt"></i> +216 74 222 222</p>
                <p><i class="fas fa-envelope"></i> 
                    <a href="mailto:cosmetify@gmail.com">cosmetify&#64;gmail.com</a>
                </p>
            </address>
            <div class="btn-group">
                <a class="btn btn-primary" href="tel:+21622222222">
                    <i class="fas fa-phone"></i> Call
                </a>
                <a class="btn btn-success" href="https://wa.me/21622222222" target="_blank">
                    <i class="fab fa-whatsapp"></i> Whatsapp
                </a>
                <a class="btn btn-danger" href="mailto:nouha.chaaben@gmail.com">
                    <i class="fas fa-envelope"></i> Email
                </a>
            </div>
        </div>
        <!-- Location Section -->
        <div class="col-md-6 contact-map">
            <h4>Location</h4>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.869273968634
                !2d10.707006515189747!3d34.73368938042603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4
                f13.1!3m3!1m2!1s0x13002b56317b303b%3A0xa91709bccec71bf8!2sEcole%20Superieure
                %20de%20Commerce%20ESC%20Sfax!5e0!3m2!1sfr!2stn!4v1670192559493!5m2!1sfr!2st
                n" 
                width="100%" 
                height="300" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
