<footer class="mt-5">
    <div class="row footer-bg py-4">
      <div class="col-sm-2"></div>
      <!-- Site Map Section -->
      <div class="col-12 col-sm-5 mb-3">
        <h5 class="footer-title">Plan du Site</h5>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active-link">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contactez-nous</a>
          </li>
        </ul>
      </div>
      <!-- Address Section -->
      <div class="col-12 col-sm-5">
        <h5 class="footer-title">Adresse</h5>
        <address>
          <p><i class="bi bi-geo-alt-fill"></i> Route Aéroport Km 4</p>
          <p><i class="bi bi-geo-alt"></i> 3018, Sfax</p>
          <p><i class="bi bi-telephone-fill"></i> +216 22 222 222</p>
        </address>
      </div>
    </div>
  </footer>
  