<header class="container-fluid header-bg py-3">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Logo Section -->
      <div class="d-flex align-items-center">
        <a routerLink="/home">
        <img src="logo.png" alt="Boutique de Produits de Beauté" class="logo-img me-2">
      </a>
        <span class="logo-text">COSEMETIFY</span>
      </div>
  
      <!-- Navigation and Buttons -->
      <div class="d-flex ms-auto align-items-center">
        <nav class="nav">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Accueil</a>
          <a class="nav-link" routerLink="/products" routerLinkActive="active-link">Produits</a>
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contactez-nous</a>
        </nav>
  
        <div class="ms-4">
          
          <!--<a class="btn btn-light btn-md rounded-pill px-4" href="#">Inscription</a>-->
        </div>
      </div>
    </div>
  </header>
  